langchain==0.3.7
langchain-chroma==0.1.4
langchain-huggingface==0.1.2
langchain-openai==0.2.14
langchain-text-splitters==0.3.2
chromadb==0.5.20
sentence-transformers==3.3.1
pypdf==5.1.0
python-dotenv==1.0.1
pytest==8.3.3
langdetect==1.0.9
openai==1.58.1